services:
  provider:
    build: 
      context: ./broadcaster/
      dockerfile: ./docker/DockerfileProvider
    ports:
      - 2345:2345
    volumes:
      - shared_memory:/dev/shm
      - ./broadcaster/saved_video_frame:/app/saved_video_frame
    shm_size: 256m
    tmpfs:
      - /shared:size=256m

  viewer:
    build: 
      context: ./broadcaster/
      dockerfile: ./docker/DockerfileViewer
    ports:
      - 7080:7080
      - 2346:2345

  web_rtc_signaling:
    build: 
      context: ./broadcaster/
      dockerfile: ./docker/DockerfileSignaling
    networks:
      - webrtc_network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - 7070:7070
      - 2347:2345

  web_rtc_offeror:
    build: 
      context: ./broadcaster/
      dockerfile: ./docker/DockerfileOfferor
    ports:
      - 2348:2345
    volumes:
      - shared_memory:/dev/shm
    shm_size: 256m
    tmpfs:
      - /shared:size=256m
    networks:
      - webrtc_network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - web_rtc_signaling

  camera:
    build: 
      context: ./camera/
      dockerfile: ./Dockerfile
    volumes:
      - shared_memory:/dev/shm
      - ./camera:/app
    shm_size: 256m
    tmpfs:
      - /shared:size=256m
    command: "python detect.py"

  app:
    build: 
      context: ./viewer/
      dockerfile: ./Dockerfile
    ports:
      - 7081:7081
    volumes:
      - ./viewer/:/app
    networks:
      - webrtc_network

  server:
    build: 
      context: ./broadcaster/
      dockerfile: ./docker/DockerfileMisc
    command: "./bin/server"
    ports:
      - 7071:7071
      - 2334:2345
    profiles: [debug]

  watcher:
    build: 
      context: ./broadcaster/
      dockerfile: ./docker/DockerfileMisc
    volumes:
      - ./broadcaster/saved_video_frame:/app/saved_video_frame
    command: "./bin/watcher"
    ports:
      - 7072:7072
      - 2335:2345
    profiles: [debug]

networks:
  webrtc_network:
    driver: bridge

volumes:
  shared_memory: