services:
  provider:
    build: 
      context: ./broadcaster/
      dockerfile: ./docker/DockerfileProvider
    ports:
      - 2345:2345
    volumes:
      - shared_memory:/dev/shm
      - ./broadcaster/saved:/app/saved
    shm_size: 256m
    tmpfs:
      - /shared:size=256m

  viewer:
    build: 
      context: ./broadcaster/
      dockerfile: ./docker/DockerfileViewer
    ports:
      - 8080:8080
      - 2346:2345

  camera:
    build: 
      context: ./camera/
      dockerfile: ./Dockerfile
    volumes:
      - shared_memory:/dev/shm
    shm_size: 256m
    tmpfs:
      - /shared:size=256m
    command: "python detect.py"

  app:
    build: 
      context: ./viewer/
      dockerfile: ./Dockerfile
    ports:
      - 8081:8081

  server:
    build: 
      context: ./broadcaster/
      dockerfile: ./docker/DockerfileMisc
    command: "./bin/server"
    ports:
      - 8071:8071
      - 2334:2345
    profiles: [debug]

  watcher:
    build: 
      context: ./broadcaster/
      dockerfile: ./docker/DockerfileMisc
    volumes:
      - ./broadcaster/saved:/app/saved
    command: "./bin/watcher"
    ports:
      - 8072:8072
      - 2335:2345
    profiles: [debug]
volumes:
  shared_memory: